<footer>
    <div class="line__menu">
        <ul class="menu__item">
            <li><a href="#">content</a></li>
            <li><a href="#">text</a></li>
            <li><a href="#">text</a></li>
        </ul>
        <ul class="menu__item">
            <li><a href="#">information</a></li>
            <li><a href="#">text</a></li>
            <li><a href="#">text</a></li>
        </ul>
        <ul class="menu__item">
            <li><a href="#">legal</a></li>
            <li><a href="#">text</a></li>
            <li><a href="#">text</a></li>
        </ul>
        <ul class="menu__item">
            <li><a href="#">help</a></li>
            <li><a href="#">text</a></li>
            <li><a href="#">text</a></li>
        </ul>
        <ul class="menu__item">
            <li><a href="tel:+38000000000">+38000000000</a></li>
            <li><a href="#">adress</a></li>
        </ul>
    </div>
    <div class="line__copyright">
        <div class="copyright__text">
            Copyright © 2019 . Your companyname  All rights reserved
        </div>
        <div class="copyright__social">
            <img src="./img/instagram-png-black-9.png" alt="" width=25px height=25px href="#">
            <img src="./img/62651-google+-icons-computer-google-plus-logo.png" alt="" width=25px height=25px href="#">
            <img src="./img/13750.png" alt="" width=25px height=25px href="#">
            <img src="./img/twitter_PNG1.png" alt="" width=25px height=25px href="#">
        </div>
    </div>
</footer>