<main>
    <div class="root__hidden_menu">
        <div>Menu</div>
        <div><button id="open_menu">↓</button>
            <ul class="menu__hid" id="menu_hid">
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
                <li><a href="#">text</a></li>
        </div>
    </div>
    <ul class="root__menu_top">
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
        <li><a href="#">text</a></li>
    </ul>
    <div class="root__slider" id="big_slider">
        <!-- <img src="#" alt=""> -->
        <div class="slider__item">
            <div class="slider__text1">
                welcome to
            </div>
            <div class="slider__text2">
                yourcompany
            </div>
        </div>
    </div>
    <div class="root__team">
        <div class="content">
            <h2 class="team__title">Our Team Leaders</h2>
            <div class="team__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore minima est perferendis pariatur sint blanditiis odio vero, voluptas rem excepturi, quisquam a, quidem ut facere dignissimos fugiat nostrum soluta culpa.
            </div>
            <div class="team__items-block">
                <div class="team__item">
                    <div class="item__img"><img src="./img/TeamLeader.png" alt="" width=250px height=250px></div>
                    <div class="item__text">
                        <h3 class="item__title">Team Leader</h3>
                        <div class="item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus sunt numquam illo error atque quasi reiciendis, repellat facere mollitia sequi excepturi, non iure vel perferendis saepe esse similique! Dolorum.</div>
                    </div>
                </div>
                <div class="team__item">
                    <div class="item__img"><img src="./img/Menager.png" alt="" width=250px height=250px></div>
                    <div class="item__text">
                    <h3 class="item__title">Menager</h3>
                    <div class="item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi minus delectus ut quo, ratione iste earum tempora rerum quod eligendi dolores, pariatur id quidem saepe sapiente voluptatibus repudiandae hic neque.</div>
                </div>
                </div>
                <div class="team__item">
                    <div class="item__img"><img src="./img/developer.png" alt="" width=250px height=250px></div>
                    <div class="item__text">
                    <h3 class="item__title">Developer</h3>
                    <div class="item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio deleniti beatae dolor, neque molestiae pariatur minima vitae maxime sint reprehenderit consequatur, quis non blanditiis nisi delectus natus impedit explicabo consequuntur.</div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="root__counter">
        <div class="content">
            <div class="counter__item">
                <div class="counter__digits">2500</div>
                <div class="counter__text">happy clients</div>
            </div>
            <div class="counter__item">
                <div class="counter__digits">300</div>
                <div class="counter__text">full notebooks</div>
            </div>
            <div class="counter__item">
                <div class="counter__digits">120</div>
                <div class="counter__text">teammates</div>
            </div>
            <div class="counter__item">
                <div class="counter__digits">30</div>
                <div class="counter__text">stores</div>
            </div>
        </div>
    </div>
    <div class="root__img">
    </div>
    <div class="root__form">
        <div class="form__title">contact us</div>
        <div class="form__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, exercitationem, obcaecati.</div>
        <div class="form__form">
            <div class="form__block1">
                <input class="form__name" type="text" placeholder="Name" id="name_input">
                <select class="form__select" id="category_select">
                    <option>Category</option>
                    <option>Complain</option>
                    <option>Suggestion</option>
                    <option>Question</option>
                </select>
            </div>
            <div class="form__block2">
                <input class="form__tel" type="tel" placeholder="Phone" id="phone_input" pattern="+380[0-9]{9}">
                <select class="form__city" title="City" id="city_select">
                    <option>City</option>
                    <option>Donetsk</option>
                    <option>Kharkiv</option>
                    <option>Kyiev</option>
                </select>
            </div>
            <input class="form__email" type="email" placeholder="E-mail">
            <textarea class="form__mess" placeholder="Message" id="" cols="30" rows="10"></textarea>
            <div class="form__button"><input type="button" value="Send"></div>
        </div>
    </div>
    <div class="root__about">
        <div class="content">
            <div class="about__img"><img src="./img/about.png" alt=""></div>
            <div class="about__block">
                <h2 class="about__title">ABOUT US</h2>
                <div class="about__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus iure libero beatae aperiam labore, ducimus illum quos! Necessitatibus itaque illum, magni cumque autem veniam doloremque, quos, ea iure ratione laborum.
                </div>
                <div class="about__items-block">
                    <div class="about__item">
                        <div class="item__img"><img src="./img/developer.png" alt=""></div>
                        <div class="item__desc">friendly team</div>
                    </div>
                    <div class="about__item">
                        <div class="item__img"><img src="./img/developer.png" alt=""></div>
                        <div class="item__desc">involved</div>
                    </div>
                    <div class="about__item">
                        <div class="item__img"><img src="./img/developer.png" alt=""></div>
                        <div class="item__desc">24/7 assistance</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="root__galery">
        <h2 class="galery__title">Our gallery
        </h2>
        <div class="galery__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At inventore rerum voluptatum, ducimus vero deleniti voluptates possimus doloremque itaque, tenetur accusantium facilis illo amet eaque esse. Earum perspiciatis harum quos.
        </div>
        <div class="galery__items">
            <div class="galery__item1">
                <picture class="slide">
                    <source media="(min-width: 800px)" srcset="./img/1920.png">
                    <img src="./img/1000.png" alt="Slider1">
                </picture>
            </div>
            <div class="galery__item2">
                <picture class="slide">
                    <source media="(min-width: 800px)" srcset="./img/slider1.png">
                    <img src="./img/slider1_1000.png" alt="Slider1">
                </picture>
            </div>
            <div class="galery__item3">
                <picture class="slide">
                    <source media="(min-width: 800px)" srcset="./img/slider2.png">
                    <img src="./img/slider2_1000.png" alt="Slider1">
                </picture>
            </div>
        </div>
        <div class="galery__arrows"></div>
    </div>
</main>